In [1]:
from bs4 import BeautifulSoup as bs
import requests
import splinter
from splinter import Browser
import os
import pandas as pd

# NAS Mars News

In [2]:
executable_path ={'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)
soup = bs(response.text,'html.parser')

In [4]:
news_title = soup.find('div', class_= "content_title").find('a').text.strip()
news_paragraph = soup.find('div', class_= "rollover_description_inner").text.strip()

print(news_title)
print(news_paragraph)

Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

# JPL Mars Space Images - Featured Image

In [5]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [6]:
html_image = browser.html
soup = bs(html_image, 'html.parser')

In [7]:
featured_image_sub_url = soup.find('div',class_='carousel_items')('article')[0]['style'].replace('background-image: url(','').replace(');','')[1:-1]

In [8]:
main_url = 'https://www.jpl.nasa.gov'

In [9]:
featured_image_url = main_url + featured_image_sub_url

In [10]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19083-1920x1200.jpg

# Mars Weather

In [11]:
mars_weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_weather_url)

In [12]:
mars_weather_html = browser.html

In [13]:
mars_weather_soup = bs(mars_weather_html, 'lxml')

In [14]:
mars_weather = mars_weather_soup.find('p', class_='tweet-text').text.split("pic")[0]
print(mars_weather)

AttributeError: 'NoneType' object has no attribute 'text'

# Mars Facts

In [15]:
mars_facts_url = 'https://space-facts.com/mars/'

In [16]:

mars_facts_table = pd.read_html(mars_facts_url)
mars_facts_table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [51]:
df = mars_facts_table[1]
df = df.rename(columns={0: 'Fact', 1:'Value'}).set_index('Fact').copy()
df

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [48]:
mars_facts_html = df.to_html(index=False)
mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [23]:
hemi_base_url = 'https://astrogeology.usgs.gov'
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [24]:
hemi_html = browser.html
hemi_soup = bs(hemi_html, 'html.parser')
items = hemi_soup.find_all('div', class_="item")
hemi_img_dict = []

In [25]:
for item in items:
    title = item.find('h3').text
    img_url = item.find('a', class_='itemLink product-item')['href']
    browser.visit(hemi_base_url + img_url)
    img_html = browser.html
    soup = bs(img_html, 'html.parser')
    img_url = hemi_base_url + soup.find('img', class_='wide-image')['src']
    hemi_img_dict.append(
        {
            "title":title,
            "img_url": img_url
        }
    )

hemi_img_dict

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]